@use '../../partials/variables.scss' as *;
@use '../../partials/fonts.scss' as *;
@use '../../partials/mixins.scss' as *;

.signup{
    &__label{
        display: flex;
        justify-content: space-between;
    }
    &__input{
        width: 100%;

    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $background;
  }