@use '../../partials/fonts.scss' as *;
@use '../../partials/mixins.scss' as *;
@use '../../partials/variables.scss' as *;

.login-page{
    background-image: url('../../assets/images/background-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
    &__tabs{
        width: inherit;
    }
}